.box{
      border: 10px solid darkblue;
      font-size: 10px;
      color: white;
      
      margin-bottom: 20px;
}

#box1{
   
    
    background-color: rgb(241, 63, 63);
    border: 5px solid black; 
    padding-top: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
}

#box2{

   
    
    background-color: rgb(147, 211, 50);
    border: 5px solid rgb(45, 22, 216); 
    padding-top: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
}